.image-jumbotron {
  background: linear-gradient(180deg, rgba(17, 138, 178, 0.5), rgba(239, 71, 111, 0.3)),url(/ricciotti-katurli.jpg) no-repeat center 70%;
  background-size: cover;
  height: 600px;
}
