$primary: #118ab2 !default;
$secondary: #0CB0A9 !default;
$success: #83D483 !default;
$info: #06d6a0 !default;
$warning: #ffd166 !default;
$danger: #ef476f !default;
$light: #fcfcfc !default;
$dark: #073b4c !default;

$spacer: 2rem;
